/* Страница 1  */
*{
      padding: 0;
      margin: 0;
}

body{
      font-family: 'TT Hoves' sans-serif;
      color: #222;
}
section{
      padding: calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
}

section.page_1{
      padding-top: 40px;
      background-image: url(./img/html_css_js\ 1.png);
      background-repeat: no-repeat;
      background-position: top 55px right 40px;
      background-size: 25%;
}

.logo{
      height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.courseInfo{
      display: flex;
      gap: 30px 160px;
      flex-wrap: wrap;
      margin-top: calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
      margin-bottom: calc(48px + (76 -48) * ((100vw - 375px) / (1280 - 375)));
}
.courseData{
      font-size: 21px;
      line-height: 140%;
}

.courseData .value{
      font-weight: 700;
}

h1{
      font-family: 'Chava', sans-serif;
      font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
      line-height: 110%;
}

p{
      margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
      font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
      font-weight: 300%;
      line-height: 140%;
}

.cta{
      margin-top: 20px;
      display: flex;
      gap: 20px 30px;
      flex-wrap: wrap;
}

button{
      width:328px;
      padding: 20px 0px;
      border-radius: 12px;

      font-size: 18px;
      font-weight: 500;
      line-height: 117%;
}

button.purple{
      background: #6E3ABA;
      color: white;
      border: 1px solid #6E3ABA;
}
button.white{
      background: white;
      color:#6E3ABA     ;
      border: 1px solid #6E3ABA;
}

/* Страница 2 */

.page_2 {
      max-width: 1100px;
      margin: 0 auto;
      padding: 20px;
}

h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
}

.container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
}

.card {
      margin: 10px;
      padding: 20px;
      text-align: flex-start;
      max-width: 400px;
}

.card img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 15px;
}

.card h3 {
      font-size: 20px;
      margin-bottom: 10px;
}

p {
      font-size: 1rem;
      line-height: 1.5;
}


/* Страница 3  */

.saleContiner{
      background-color:#6E3ABA;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
}
.saleContiner h3{
      color: white;
      font-size: calc(2vw + 26.5px);
      margin-bottom: calc(4.1vw + 4.7px) ;
}
.time{
      display: flex;
      gap: 85px;
}
.date{
      font-size: calc(12.6vw + 12.8px);
      font-family: 'Chava', sans-serif;
}
.timeCard span{
      text-align: center;
      display: block;
      font-size: calc(1.9vw + 3px);
}

